.centerTable {
  margin: auto;
  width: auto;
  padding: 10px;
}

.center {
  margin: auto;
  padding: 10px;
}

.centerInst {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.colorDiv {
  background-color: skyblue;
}

.movieCard {
  background-color: azure;
}

.centerText {
  text-align: center;
  list-style-position: inside;
}

body {
  font-family: "Press Start 2P", cursive;
}